<div class="container">

	<div class="starter-template">
		<div ng-controller="MenuController  as menu">
			<h2>Cardápio</h2>
			<table class="table table-striped">
				<thead>
					<tr>
						<th></th>
						<th>Nome do Lanche</th>
						<th>Ingredientes</th>
						<th>Preço</th>
						<th>Quantidade</th>
					</tr>
				</thead>
				<tbody data-ng-repeat="snack in snacks">
					<tr>
						<td><input type="checkbox" value="" ng-model="cbMenu"
							ng-click="processDataMenu(snack, cbMenu, input.qtdSnack)"></td>
						<td>{{snack.description}}</td>
						<td>{{snack.ingredient}}</td>
						<td>{{snack.price| currency:'R$ ':2}}</td>
						<td><input  class="form-control" type="number" min="0" max="10" step="1" value="1" ng-model="input.qtdSnack"></td>
					</tr>


				</tbody>
			</table>
		</div>

		<div ng-controller="ingredientsController  as ingredCtrl">
			<h2>Monte seu lanche</h2>

			<table class="table table-striped">
				<thead>
					<tr>
						<th></th>
						<th>Ingredientes</th>
						<th>Preço</th>
						<th>Quantidade</th>
					</tr>
				</thead>
				<tbody data-ng-repeat="ingredient in ingredients">
					<tr>
						<td><input type="checkbox" value="" ng-model="cb"
							ng-click="processData(ingredient, cb, input.qtdIng)"></td>
						<td>{{ingredient.description}}</td>
						<td>{{ingredient.price| currency:'R$ ':2}}</td>
						<td><input class="form-control" type="number" min="1" max="10" step="1"  ng-model="input.qtdIng" value="1"></td>
					</tr>
				</tbody>
			</table>
			<div></div>
		</div>
		<!-- /.container -->
		<hr>
		<div class="text-align-right" >
			<h2>Total do Pedido: <span >{{ totalRequest | currency:'R$ ':2}}</span></h2>
		</div>
	</div>
</div>